<div class="showpage-profile">
  <div class="text-colour-white">
    <h1>My Profile</h1>
    <%= cl_image_tag @user.avatar.key, height: 300, width: 300, crop: :fill %>
    <h3>Edit</h3>
  </div>
</div>
<div class="games-list text-colour-white">
  <div> Completed
    <% @user.user_games.each do |user_game| %>
        <% if user_game.completed %>
            <p><%= user_game.game.title %></p>
        <% end %>
    <% end %> 
  </div>

  <div>Owned
    <% @user.user_games.each do |user_game| %>
        <% if user_game.owned %>
            <p><%= user_game.game.title %></p>
        <% end %>
    <% end %>
  </div>

  <div>Wishlist
    <% @user.user_games.each do |user_game| %>
        <% if user_game.wishlist %>
            <p><%= user_game.game.title %></p>
        <% end %>
    <% end %>
  </div>
</div>
</div>