<footer class="main-footer <%=yield(:footer_class)%>">
  <div class="social-media">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-linkedin"></a>
  </div>
</footer>
