<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>What Game? </h1>
    <p>We are here to help you find your next best game to play!</p>
  </div>
</div>
<%= content_for(:footer_class, "footer-home") %>

