.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), asset-url("background-home.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 4px 4px #000000;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 4px 4px #000000;
  }

  .btn {
    padding: 15px 50px;
  }
}
