.navbar-lewagon {
  justify-content: space-between;
  background: #0E100F;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
.navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

.nav-link{
  color:white;
}

.nav-link:hover{
  color:grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: violet 2px inset;
  background-color:white;
  padding: 5px;
}

.nav-item:hover {
    cursor: pointer;
}

.title h1 {
    color: $white;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 4px 4px #000000;
    padding-top:20px;
  }

