.form-check-input{
  position: absolute;
  transform: scale(0);
}

.random-dice{
  width:50px;
  height:50px;
}

.form-control-search{
  width:600px;
  padding-left:12px;
  height: calc(1.5em + 0.75rem + 2px);
}

.filter-search{
  position: absolute;
  margin-bottom: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #eeeeee;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.games_ {
  label.string.required{
  visibility: hidden;
  }
}

.form-check-input + label {
  curser: pointer;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.btn-outline{
  color:$lgreen;
  border-color:$lgreen;

}

.btn-outline:hover{
  color:$white;
  border-color: $white;
  transition: 0.5s;
}
